<!-- .aside -->
<aside class="bg-dark dker aside-sm nav-vertical" id="nav">
  <section class="vbox">
    <header class="bg-dark dk nav-bar">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
        <i class="icon-reorder"></i>
      </a>
      <a href="#" class="nav-brand" data-toggle="fullscreen">application</a>
      <a class="btn btn-link visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="icon-comment-alt"></i>
      </a>
    </header>
    <section>
      <!-- nav -->
      <nav class="nav-primary hidden-xs">
        <ul class="nav">
          <li>
            <a href="/">
              <i class="icon-home"></i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/dashboard">
              <i class="icon-signal"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-print"></i>
              <span>Dropdown</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Path 1</a></li>
              <li><a href="#">Path 2</a></li>
              <li><a href="#">Path 3</a></li>
              <li><a href="#">Path 4</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="icon-dropbox"></i>
              <span>Another Menu Item</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- / nav -->
    </section>
    <footer class="footer bg-gradient hidden-xs">
      <a href="../modal.lockme.html" data-toggle="ajaxModal" class="btn btn-sm btn-link m-r-n-xs pull-right">
        <i class="icon-off"></i>
      </a>
      <a href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
        <i class="icon-reorder"></i>
      </a>
    </footer>
  </section>
</aside>
<!-- /.aside -->