<section id="content" class="m-t-lg wrapper-md animated fadeInDown">
  <a class="nav-brand" href="#" data-toggle="chardinjs"><%= app_name %></a>
  <div class="row m-n">
    <div class="col-md-4 col-md-offset-4 m-t-lg">
      <section class="panel">
        <header class="panel-heading text-center">
          Sign in
        </header>
        <form action="#" class="panel-body" data-intro="<a href='<%= url_for :controller => 'grafts', :action => 'create', :component => "AuthenticationPortal" %>'>Add a fully functional authentication portal to your app</a>, but nota bene, this requires that you have Devise fully installed and are using the latest version of Twitter Bootstrap 3.0.0.  Also, if you're using high voltage, we strongly recommend you also <a href='<%= url_for :controller => 'grafts', :action => 'create', :component => "HighVoltageOverride" %>'>add in the high voltage overrides component</a>" data-position="right">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" placeholder="test@example.com" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" id="inputPassword" placeholder="Password" class="form-control">
          </div>
          <div>
            <button type="submit" class="btn btn-info" data-toggle="chardinjs">Sign in</button>
          </div>
          <div class="line line-dashed"></div>
          <a href="#" class="btn btn-facebook btn-block m-b-sm" data-toggle="chardinjs"><i class="icon-facebook pull-left"></i>Sign in with Facebook</a>
          <a href="#" class="btn btn-twitter btn-block" data-toggle="chardinjs"><i class="icon-twitter pull-left"></i>Sign in with Twitter</a>
          <div class="line line-dashed"></div>
          <p class="text-muted text-center"><small>Do not have an account?</small></p>
          <a href="#" class="btn btn-white btn-block" data-toggle="chardinjs">Create an account</a>
        </form>
      </section>
    </div>
  </div>
</section>

